:root {
    --main-color: #ec9d68;
    --accent-color: #1e1e1e;
    --faded-black: #2f2f2f;
    --bold: 700;
}

* {
    box-sizing: border-box;
}

.container {
    font-family: "Roboto", serif;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(275px, 1fr) 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "sidebar header"
                         "sidebar main-content";
}

.sidebar {
    background-color: var(--accent-color);
    grid-area: sidebar;
    padding: 10px;
    color: white;
    display: grid;
    grid-template-rows: 100px 200px 200px;
    align-items: start;
}

.header {
    background-color: white;
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: minmax(1fr, 3fr) minmax(200px, 1fr);
    align-items: center;
    padding: 10px 60px;
    gap: 10px;
    font-weight: var(--bold);
}

.main-content {
    background-color: var(--main-color);
    grid-area: main-content;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr minmax(300px, 1fr);
    padding: 10px 10px;
}

.search-bar {
    display: grid;
    grid-template-columns: 30px minmax(200px, 750px);
    gap: 5px;
}

.bar {
    background-color: var(--main-color);
    height: 25px;
    align-self: center;
    border-radius: 20px;
}

.user-info {
    grid-column: 2;
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;  
    gap: 10px;
    align-items: center;
    font-size: large;
}

.user-msg {
    display: grid;
    grid-template-columns: 1fr 9fr;
    gap: 10px;
}

.user-msg span {
    font-size: x-large;
}

.buttons {
    grid-column: 2;
    justify-self: end;
}

.icon {
    height: 75px;
    width: 75px;
    
}

.user {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.tiny {
    height: 25px;
    width: 25px;
}

.projects {
    grid-row: span 2;
    display: grid;
    grid-template-rows: 1fr 9fr;
    margin: 20px;
}

.project-items {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
    margin-top: -25px;
}

.announcements,
.trending {
    display: grid;
    grid-template-rows: 1fr 5fr;
    margin: 20px;
}

.announcements>div,
.trending>div,
.project {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);;
}

.project {
    margin: 5px;
    display: grid;
    grid-template-rows: 4fr 1fr;
    border-left: 10px solid var(--faded-black);
}

.project-options {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 10px;
    align-self: end;
}

.announcement-item {
    padding-bottom: 20px;
}

.announcement-item:nth-child(2) {
    border: 2px solid grey;
    border-right-style: none;
    border-left-style: none;
}

.trending-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 15px 0;
    font-weight: var(--bold);
}

.text span {
    font-weight: 400;
    color: var(--faded-black);
}

h3, h4 {
    margin-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: x-large;
}

ul li {
    display: grid;
    grid-auto-flow: column;
    margin: 10px;
    gap: 20px;
    align-items: center;
    justify-content: start;
    margin-left: 10px;
    font-size: 1.3rem;
}

.logo {
    display: grid;
    grid-auto-flow: column;
    gap: 5px;
    align-items: center;
    justify-content: start;
    font-size: xx-large;
    font-weight: var(--bold);
    margin-top: 10px;
}

.menu:last-of-type {
    align-self: end;
}

button {
    background-color: var(--accent-color);
    color: white;
    font-family: "Roboto", serif;
    font-weight: var(--bold);
    margin-left: 10px;
}

.sidebar .icon {
    filter: invert(54%) sepia(56%) saturate(596%) hue-rotate(335deg) brightness(90%) contrast(84%);
}

button {
    height: 50px;
    width: 100px;
    border-radius: 50px;
    font-size: medium;
}

.logo:hover,
li:hover,
.user-info:hover,
button:hover,
.project:hover,
.announcement-item:hover,
.trending-item:hover {
    cursor: pointer;
}