:root {
    --main-color: #ec9d68;
    --accent-color: #1e1e1e;
}

* {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "sidebar header"
                         "sidebar main-content";
}

.sidebar {
    background-color: var(--accent-color);
    grid-area: sidebar;
    padding: 10px 10px;
    color: white;
}

.header {
    background-color: white;
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    padding: 10px 60px;
    gap: 10px;
}

.main-content {
    background-color: var(--main-color);
    grid-area: main-content;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr minmax(300px, 1fr);
    padding: 10px 10px;
}

.search-bar {
    display: grid;
    grid-template-columns: 30px minmax(200px, 750px);
    gap: 5px;
}

.bar {
    background-color: var(--main-color);
    height: 25px;
    align-self: center;
    border-radius: 20px;
}

.user-info {
    grid-column: 2;
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;  
    gap: 10px;
    align-items: center;
}

.user-msg {
    display: grid;
    grid-template-columns: 1fr 9fr;
    gap: 10px;
}

.buttons {
    grid-column: 2;
    justify-self: end;  
}

.icon {
    height: 75px;
    width: 75px;
    
}

.user {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.tiny {
    height: 25px;
    width: 25px;
}

.projects {
    grid-row: span 2;
    display: grid;
    grid-template-rows: 1fr 9fr;
}

.project-items {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.announcements,
.trending {
    display: grid;
    grid-template-rows: 1fr 5fr;
    margin: 20px;
}

.announcements>div,
.trending>div,
.project {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
}

.project {
    margin: 5px;
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.project-options {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 5px;
    align-self: end;
}

.announcement-item {
    padding-bottom: 20px;
}

.announcement-item:nth-child(2) {
    border: 2px solid grey;
    border-right-style: none;
    border-left-style: none;
}

.trending-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 15px 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: grid;
    grid-auto-flow: column;
    margin: 5px;
    gap: 10px;
    align-items: center;
    justify-content: start;
}

.logo {
    display: grid;
    grid-auto-flow: column;
    gap: 5px;
    align-items: center;
    justify-content: start;
}

.menu:last-of-type {
    align-self: end;
}

button {
    background-color: var(--accent-color);
    color: white;
}

.sidebar .icon {
    filter: invert(54%) sepia(56%) saturate(596%) hue-rotate(335deg) brightness(90%) contrast(84%);
}

button {
    height: 50px;
    width: 100px;
    border-radius: 50px;
    font-size: medium;
}

@media screen and (max-width:756px) {
    .project-items {
        grid-template-columns: minmax(350px, 1fr);
    }
}